/* CSS BASE */

:root {
  --base-font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input:focus {
  outline: none !important;
}
html {
  scroll-behavior: smooth;
  font-size: var(--base-font-size);
}
::-webkit-scrollbar {
  display: auto;
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: 0rem;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* CSS BASE */

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  color: white;
  background-color: black;
}
.container {
  display: flex;
  width: 90vw;
  justify-content: center;
  align-items: center;
}

.card:nth-child(1) {
  background-image: url(images/01.jpg);
}
.card:nth-child(2) {
  background-image: url(images/5.jpg);
}
.card:nth-child(3) {
  background-image: url(images/HeaderWasIstMinimaleFotografie.jpg);
}
.card:nth-child(4) {
  background-image: url(images/photo-128278505_1.jpg);

}

.card {
  height: 90vh;
  flex: 0.5;
  margin: 0.5rem;
  border-radius: 5rem;
  background-position: center;
  background-size: cover;
  position: relative;
  transition: flex 1s;
}
.card h1 {
  position: absolute;
  left: 5rem;
  font-size: 3rem;
  transition: 1s;
  bottom: 0;
  opacity: 0;
}
.card.active {
  flex: 2;
}

.card.active h1 {
  opacity: 1;
  bottom: 5rem;
}
@media (max-width: 880px) {
  .card {
    flex: 0.1;
  }
  .card.active {
    flex: 3;
  }
}
@media (max-width: 614px) {
  .card {
    margin: 0.3rem;
    flex: 0.01;
  }
  .card.active {
    flex: 1;
    width: 100px;
  }
}
