/* CSS BASE */
:root {
  --base-font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input:focus {
  outline: none !important;
}
html {
  scroll-behavior: smooth;
  font-size: var(--base-font-size);
}
::-webkit-scrollbar {
  display: auto;
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: 0rem;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* CSS BASE */
/* body {
  background-color: rgb(105, 105, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.phone {
  position: relative;
  overflow: hidden;
  border: 3px solid white;
  box-shadow: rgba(0, 0, 0, 0.7) 3px 9px 9px 3px;
  border-radius: 2rem;
  height: 60rem;
  width: 36rem;
}
.phone .content {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: opacity ease 0.5s;
}
.phone .content.about {
  background: url(https://picsum.photos/1400/700);
}
.phone .content.blog {
  background: url(https://picsum.photos/1400/701);
}
.phone .content.map {
  background: url(https://picsum.photos/1400/702);
}
.phone .content.contact {
  background: url(https://picsum.photos/1400/703);
}
.phone .content.show {
  opacity: 1;
}
.phone .content .text {
  background-color: rgba(0, 0, 0, 0.664);
  color: white;
  padding: 4rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.phone .content .text h1 {
  font-size: 2.5rem;
}
.phone .content .text p {
  font-size: 1.6rem;
}
nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
nav ul {
  background-color: rgba(255, 255, 255, 0.555);
  color: #333;
  display: flex;
  margin: 0;
  padding: 0;
  height: 6rem;
}
nav li {
  cursor: pointer;
  flex: 1;
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
}
nav ul li:hover,
nav ul li.active {
  color: tomato;
} */

body {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.phone {
  background-color: white;
  width: 30rem;
  height: 60rem;
  border: 5px solid black;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 5px 5px black;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.content.show {
  width: 100%;
  height: 100%;
  display: flex;
}
.content.about {
  background: url(https://picsum.photos/1400/700);
}
.content.blog {
  background: url(https://picsum.photos/1400/701);
}
.content.map {
  background: url(https://picsum.photos/1400/702);
}
.content.contact {
  background: url(https://picsum.photos/1400/703);
}
.content .text {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
  padding: 3rem 1rem;
  border-radius: 1rem;
  width: 20rem;
}
.content .text h1 {
  font-size: 2.5rem;
}
.content .text p {
  font-size: 1.6rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
nav ul li {
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 0.5s ease;
}
nav ul li:hover,
nav ul li.active {
  color: tomato;
}
