/* CSS BASE */

:root {
  --base-font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input:focus {
  outline: none !important;
}
html {
  scroll-behavior: smooth;
  font-size: var(--base-font-size);
}
::-webkit-scrollbar {
  display: auto;
  width: 0;
}
::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: 0rem;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* CSS BASE */
/* body{
    background-color: black;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    row-gap: 2rem;
}
#form h1{
    color: rgb(202, 202, 202);
    font-size: 4rem;
}
#searchInput{
    text-align: center;
    width: 50%;
    min-width: 25rem;
    height: 3rem;
    border-radius: 10rem;
    border: 1px solid rgb(88, 88, 88);
    background-color: black;
    color: white;
}
.button-wrapper button{
    min-width: 10rem;
    border: none;
    padding: 1rem;
    border-radius: 10rem;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
}
#searchButton{
    background-color: rgb(202, 202, 202);
    color: rgb(0, 0, 0);
}
#searchButton:hover{
    background-color: rgb(102, 160, 126);
}
#clearButton{
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
}
#clearButton:hover{
    background-color: rgb(158, 66, 66);
}
.imagelist-wrapper{
    margin: 2rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imagelist-wrapper .card{
    margin: 2rem ;
    box-shadow: 0px 0px 10px 2px rgba(71,71,71,1);
    border-radius: 1rem;
}
.imagelist-wrapper .card img{
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
} */




/*? kendim yapıyorum */
/* body{
  background-color: black;
  color: white;
  font-family: 'Segoe UI';
}
#form{
  text-align: center;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}
#form h1{
  font-size: 4rem;
  color: rgb(224, 224, 224);
}
#searchInput{
  min-width: 30rem;
  width: 50%;
  height: 3rem;
  border: 1px solid rgb(53, 53, 53);
  border-radius: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Segoe UI';
}
.button-wrapper{
  display: flex;
  column-gap: 2rem;
}
.button-wrapper button{
  border: none;
  width: 10rem;
  padding: 0.8rem;
  border-radius: 1rem;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}
#searchButton{
  background-color: rgb(224, 224, 224);
}
#searchButton:hover{
  background-color: rgb(87, 133, 87);
  color: white;
}
#clearButton{
  background-color: rgb(121, 121, 121);
}
#clearButton:hover{
  color: white;
  background-color: rgb(158, 78, 78);
}
.image-wrapper{
  margin: 0 2rem;
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.image-wrapper .card img{
  margin: 1rem;
  max-width: 30rem;
  border-radius: 1rem;
} */




/*? kendim yapıyorum 2*/

body{
  background-color: black;
  color: white;
  font-family: 'Segoe UI';
}
#form{
  text-align: center;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}
#form h1{
  font-size: 4rem;
  color: rgb(224, 224, 224);
}
#searchInput{
  min-width: 30rem;
  width: 50%;
  height: 3rem;
  border: 1px solid rgb(53, 53, 53);
  border-radius: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Segoe UI';
}
.button-wrapper{
  display: flex;
  column-gap: 2rem;
}
.button-wrapper button{
  border: none;
  width: 10rem;
  padding: 0.8rem;
  border-radius: 1rem;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
}
#searchButton{
  background-color: rgb(224, 224, 224);
}
#searchButton:hover{
  background-color: rgb(87, 133, 87);
  color: white;
}
#clearButton{
  background-color: rgb(121, 121, 121);
}
#clearButton:hover{
  color: white;
  background-color: rgb(158, 78, 78);
}
.image-wrapper{
  margin: 0 2rem;
  margin-top: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.image-wrapper .card img{
  margin: 1rem;
  max-width: 30rem;
  border-radius: 1rem;
}